.dont-break-out {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}
.content {
    padding-top: 70px;
}
.add-account-btn {
    margin-bottom: 20px;
}

.edit-account, .detailed-view {
    margin-left: 10px;
}

.account-name {
    text-transform: capitalize;
}

.passwordtext {
    margin-right: 10px;
}

.copypass {
    margin-left: 10px;
}

.search-keyword {
    height: calc(1.75rem + 2px) ;
}

.search-box {
    justify-content: flex-end;
}
ul.account-details {
    border:1px solid #ccddcc;
}

@media only screen and (max-width: 1200px) {
    .search-box {
        justify-content: flex-start;
    }
}